$bg: var(--bg);
$bgr: var(--bgr);
$txt: var(--txt);
$txtr: var(--txtr);
$btnbg: var(--btnbg);

$clr1: var(--clr1);
$clr2: var(--clr2);
$clr3: var(--clr3);
$clr4: var(--clr4);
$clr5: var(--clr5);
$border: var(--border);
$border2: var(--border2);
$shadebg: var(--shadebg);
$warn: var(--warn);
