@use  "../../styles/vars";

.placeholder{
  background: vars.$border2;
  height: 1rem;
  min-width: 10px;
  width: 150px;
  animation: pulse 2s ease infinite;
}


@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
